
body{
  font-size: 100%;
}
.bodyhtml, .bodyPeople{
  background: grey;
}
.bodyHistory, .bodywar, .bodyCity, .bodypadinya{
  background: lightgray;
}


.forma{
  text-align: right;
  padding: 0px 5px 5px;
  text-align: right;
  padding: 5px;
}

header{
	text-align: center;
	background: linear-gradient(90deg, rgba(23,23,47,1) 0%, rgba(18,40,97,1) 37%, rgba(144,30,65,1) 75%, rgba(154,26,26,1) 100%);
	text-shadow: 0px 0px 45px white;
}

.headp{
	font-family: 'Rubik One', sans-serif;
	font-weight: 700; 
	font-size: 50px;
	text-transform: uppercase;
	background: linear-gradient(FireBrick 65%, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	margin: 20px auto;
}


.nav{
	display: inline-block;
  width: auto;
}

.aside {
  padding-top: 4%;
	float: left;
}

.mains{
  height: 450px;
	color: white;
	background: linear-gradient(90deg, rgba(23,23,47,1) 0%, rgba(18,40,97,1) 37%, rgba(144,30,65,1) 75%, rgba(154,26,26,1) 100%);
  padding: 0px 0px 0px 300px;
}
.first{
  font-size: 20px;
}

.lib{
	list-style-type: none;
}

a.button {
  background: #b01030;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  width: 200px;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 4px;
}
.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.button:active {
  opacity: .5;
}
.footer{
  font-size: 20px;
  color: white;
  text-align: center;
}


 /* FORM */
.submit{
      padding:5px;
      border:2px solid dimgrey;
      margin: 0px 10px 10px 0px;
      size: 10px;
      text-align: center;
 }
.submit:hover{
        color: white;
        font-weight: 600;
 }
.submit[type=submit]:hover{
        background-color: #3a75c4;
        color: white;
 }
.formsubmit{
    text-align: center;
    padding-top: 200px;}

/*HISTORY*/
.pHistory{
  font-family: 'Sofia', cursive;
  font-size: 20px;
}
.back{
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 20px;}

/*Vidomi*/
.pvid{
  font-size: 17px;
  line-height: 1.3em;
}
.collections {
  overflow: auto;
  font-family: 'Sofia', cursive;
}
.collection-title {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  font-size: 36px;
  text-align: center;
}
.collection-item-outer {
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 33%;
  box-sizing: border-box;
  width: 300px;
}
.collections > div {
  padding-top: 5px;
}

.collection-item {
  border: 4px solid white;
}
.collection-item img{
  width: 100%;
  height: 400px;
}
.collection-text {
  padding: 0 10px 10px 10px;
}
.collection-text h3 {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.collection-text p {
  height: 20px;
  overflow: hidden;
  color: white;
}
.collection-text button {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
}

/* WAR */
.warli{
  color: red;
  padding: 0 0 10px 50px;
  font-size: 20px;
}
.warli a {
  text-decoration: none;
  color: darkblue;
  font-weight: 900;
}
.warp, .pamyats{
  font-size: 18px;
  padding: 0 50px 0 30px;
  font-family: 'Sofia', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}